<ul ngbNav #nav="ngbNav" (navChange)="onNavChange($event)"  [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
     <a ngbNavLink>All Tasks</a>
      <ng-template ngbNavContent >
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchTask()">Search</button>
        <div class="tsk"  [ngClass]="{'selectedd': task.isSelected}" *ngFor="let task of tasksArray;let i = index" (click)="handleClick($event,task,i)">
         <br/>
          <h6>{{task.taskName}}</h6>
          <p>{{task.taskDescription | slice:0:50}} <span class="float-right">{{task.createdTime | date:'medium' }}</span></p>
      
        </div>
        <!-- <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
          keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
          salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p> -->
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>New Tasks</a>
      <ng-template ngbNavContent>
        <div class="tsk"  [ngClass]="{'selectedd': task.isSelected}" *ngFor="let task of tasksArray;let i = index" (click)="handleClick($event,task,i)">
          <br/>
           <h6>{{task.taskName}}</h6>
           <p>{{task.taskDescription | slice:0:50}} <span class="float-right">{{task.createdTime | date:'medium' }}</span></p>    
         </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>In Progress Tasks</a>
      <ng-template ngbNavContent>
        <div class="tsk"  [ngClass]="{'selectedd': task.isSelected}" *ngFor="let task of tasksArray;let i = index" (click)="handleClick($event,task,i)">
          <br/>
           <h6>{{task.taskName}}</h6>
           <p>{{task.taskDescription | slice:0:50}} <span class="float-right">{{task.createdTime | date:'medium' }}</span></p>    
         </div>
      </ng-template>
    </li>

    <li [ngbNavItem]="4">
      <a ngbNavLink>Completed Tasks</a>
      <ng-template ngbNavContent>
        <div class="tsk"  [ngClass]="{'selectedd': task.isSelected}" *ngFor="let task of tasksArray;let i = index" (click)="handleClick($event,task,i)">
          <br/>
           <h6>{{task.taskName}}</h6>
           <p>{{task.taskDescription | slice:0:50}} <span class="float-right">{{task.createdTime | date:'medium' }}</span></p>    
         </div>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  <!-- <pre>Active: {{ active }}</pre> -->
