<nav class="navbar  navbar-dark bg-dark" style="background-color:#0275d8;">

    <div class="float-right"> 
        <!-- <span class="navbar-brand mb-0 h1">GASL</span>  -->
        <a class="navbar-brand" ><span><h2 class = "temp-logo px-2">GASL</h2></span>
        </a>
       
        <button
            class="btn btn btn-success  mt-2 float-right" type="submit" (click)="logout()">Logout</button>
            <span class="float-right font-italic mr-4 mt-3 font-weight-bold">Welcome {{username}}</span>
        </div>

</nav>
<router-outlet></router-outlet>